<section class="login-banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="mybooking text-center">
					<h2>My Booking!</h2>					
			</div>
		</div>
	</div>
</div></section>
<!--My Profile-->
<section class="booking-table">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 myprofilephoto">
				<div class="myprofilec">
					<h2>Welcome</h2>
				</div>				
				<h4>{{userDetail.UserName}}</h4>
			</div>
			<div class="col-lg-9">
				<div class="myprofile">
					<div class="myprofileh">
						<div class="row">
							<div class="col-md-12">
							<h3>Change Password</h3>
						</div>		
							</div>
					</div>
					<div class="contact-details changepwd">
							<div class="row">
								<div class="col-lg-6 col-md-6">	
									<div class="form-group"  *ngIf="userType=='Agent'">
									    <label for="pwd">Old Password</label>
									    <input type="password" class="form-control" placeholder="Enter Old password"  name="oldPswrd" [(ngModel)]="data.oldPswrd">
									  </div>		
									  <div class="form-group">
									    <label for="pwd">New Password</label>
									    <input type="password" class="form-control" placeholder="Enter New password"  name="newPswrd" [(ngModel)]="data.newPswrd">
									  </div>
									  <div class="form-group">
									    <label for="pwd">Confirm Password</label>
									    <input type="password" class="form-control" placeholder="Enter Confirm password"  name="cnfrmPswrd" [(ngModel)]="data.cnfrmPswrd">
									  </div>
								</div>	
							</div>
							</div>
							<div class="row">
								<div class="btn-selectpx">
									<a class="btn-selectp" (click)="chngePaswrd()">Chnage Password</a>	
								</div>	
							</div>
						</div>
				</div>
			</div>
		</div>
</section>