<section class="inner-wrapper">
	<div class="container">
		<h1>Terms and Conditions</h1>
	</div>
</section>

<section class="aboutus-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-content">
                    <h6>Heading</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, laboriosam neque. Magni, perspiciatis consectetur? Id magnam dolorem delectus magni a!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, laboriosam neque. Magni, perspiciatis consectetur? Id magnam dolorem delectus magni a!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, laboriosam neque. Magni, perspiciatis consectetur? Id magnam dolorem delectus magni a!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, laboriosam neque. Magni, perspiciatis consectetur? Id magnam dolorem delectus magni a!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, laboriosam neque. Magni, perspiciatis consectetur? Id magnam dolorem delectus magni a!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, laboriosam neque. Magni, perspiciatis consectetur? Id magnam dolorem delectus magni a!</p>
                </div>
            </div>
        </div>
    </div>
</section>
