.newCss{
    z-index:10!important;
        left: -35px;
        width: 6rem;
}
.custom-control-input{
    z-index:1!important;
}
.m-date::after {display: none;}
.date-icon{padding-right:0px !important;}