<section>
	<div class="modify-search" id="modifySearch">
		<div class="container">
				<div class="m-modify">Modify Search<span><i class="fas fa-chevron-down"></i></span></div>
				<div class="modify-box">
				<form [formGroup]="myForm" name="myForm">
					<div class="row">
						<!-- <div class="col-lg-12 auto-hide">
						 <div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="customRadio" name="example" value="customEx" checked>
							<label class="custom-control-label" for="customRadio">One way</label>
						  </div>
						  <div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="customRadio2" name="example" value="customEx">
							<label class="custom-control-label" for="customRadio2">Round way</label>
						  </div>
						  <span class="close-box"><i class="fas fa-times"></i></span>
						</div> -->
						<div class="col-lg-5">
							<div class="form-group">
								<div class="modify-city">
									<div class="m-from">
										<label>from</label>
										<!-- <input type="text" class="form-control" placeholder="Warsaw,Poland"> -->
										<input type="text" class="form-control" list="srcAirports"  name="goingfrom" formControlName="goingfrom"  (keyup)="searchSrcAirport()">
											<datalist id="srcAirports" *ngIf="airportSrcList.length!=0">
												<option value="{{temp.Airport}}" *ngFor="let temp of airportSrcList">
											  </datalist>
									</div>
									<p style="color:#fd653c;" *ngIf="myForm.get('goingfrom').hasError('required') && myForm.get('goingfrom').dirty">*Please enter source</p>

									<div class="m-to">
										<label>To</label>
										<!-- <input type="text" class="form-control" placeholder="Warsaw,Poland"> -->
										<input type="text" class="form-control" list="desAirports"  name="goingTo" formControlName="goingTo" (keyup)="searchDesAirport()">
											
										<datalist id="desAirports" *ngIf="airportDesList.length!=0">
											<option value="{{temp.Airport}}" *ngFor="let temp of airportDesList"></option>
											
										  </datalist>
									</div>
									<p style="color:#fd653c;" *ngIf="myForm.get('goingTo').hasError('required') && myForm.get('goingTo').dirty">*Please enter destination</p>

								</div>
							</div>
						</div>
						<div class="col-lg-5">
							<div class="form-group">
								<div class="m-dateclass">
									<div class="m-date">
										<label>Date</label>
										<!-- <input type="text" class="form-control" placeholder="19 Apr 2019"> -->
										<input type="date"  placeholder="dd-mm-yyyy" class="form-control date-icon" name="depDate" formControlName="depDate" style="width: 100%;">

										<!-- <input type="date" class="form-control date-icon" placeholder="Return" name="returnDate" formControlName="returnDate"> -->
									</div>
									<!-- <div class="m-traveller">
										<label>Traveller(s),Class</label>
										<input type="text" class="form-control" placeholder="Warsaw,Poland">
									</div> -->
								</div>
							</div>
						</div>
						<div class="col-lg-2">
							<div class="form-group">
 								<button class="btn-search" type="button" [disabled]=myForm.invalid (click)="searchAgain()">Search Again</button>
							</div>
 						</div>
						<!-- <div class="col-lg-12 auto-hide">
						 <div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
							<label class="custom-control-label" for="customCheck">Non Stop Flights Only</label>
						  </div>
						</div> -->
					</div>
				</form>
			</div>
		</div>
	</div>
    <div class="filter-sec" id="navSticky">
		<div class="filter-face" >
			<div class="container">
				<div class="filter-box" (click)="closeFilter('2')" *ngIf="filtersection=='1'">
					<ul>
						<li ><span class="filter-icon"><i class="fas fa-filter"></i></span>Filter</li>
						<!-- <li>Stop:
							<a class="stop">0</a>
							<a class="stop">1</a>
							<a class="stop">2</a>
						</li> -->
						<li><a class="item-01">Price<span class="chevron-down"><i class="fas fa-chevron-down"></i></span></a></li>
						<li><a class="item-01">Depart Time<span class="chevron-down"><i class="fas fa-chevron-down"></i></span></a></li>
						<li><a class="item-01">Airlines<span class="chevron-down"><i class="fas fa-chevron-down"></i></span></a></li>
						<li><a class="item-01">Aircraft<span class="chevron-down"><i class="fas fa-chevron-down"></i></span></a></li>
						<li><a class="item-01">More Filter<span class="chevron-down"><i class="fas fa-chevron-down"></i></span></a></li>
					</ul>
					<a class="mdSearch" href="#modifySearch">Modify Search<i class="fas fa-arrow-up"></i></a>
				</div>
				<div class="filter-top"  *ngIf="filtersection=='2'">
					<!-- <div class="total-flight"><p>101 of 101 Flights</p></div> -->
					<div class="filter-action">
						<!-- <a (click)="clearFilter()">Reset All Filters</a> -->
						<a id="cancelfilter" (click)="closeFilter('1')">Cancel</a>
						<button type="submit" class="btn-apply" (click)="filter()">Apply Filter</button>
						<button type="submit" class="btn-apply" (click)="clearFilter()">Reset All Filters</button>
					</div>
				</div>
				
			</div>
		</div>
		<div class="more-opt"   *ngIf="filtersection=='2'">
			<div class="full-flexbox">
				<div class="container">
					<div class="filter-type">
						<div class="stops-filter">
							<h2>Stops</h2>
							<ul>
								<li  (click)="selectStop('0')"><a [ngClass]="{checked:isActive=='0'}">0</a><li>
								<li  (click)="selectStop('1')"><a [ngClass]="{checked:isActive=='1'}">1</a><li>
								<li  (click)="selectStop('2')"><a [ngClass]="{checked:isActive=='2'}">2</a><li>
							</ul>
						</div>
						<div class="price-filter">
							<h2>Price</h2>
							<p>Upto:<i class="small-inr"></i><span id="demo">{{data.price}}</span></p>
							 <div class="slidecontainer">
								 <input type="range" min="1" max="9830" value="9830" class="slider" id="myRange" name="price" [(ngModel)]="data.price" (change)="getValue(data.price)">
								 <span class="start-point"><i class="small-inr"></i>500</span>
								 <span class="end-point"><i class="small-inr"></i>50,000</span>
							</div>
						</div>
					</div>
					<div class="depart-filter">
						<h2>Depart Time</h2>
						<div class="depart-time">
							<p>From Bangalore</p>
							<ul>
								<li (click)="selectTime('00:00','06:00')"><a [ngClass]="{active:isAct=='00:00' } "><span></span>00-06</a></li>
								<li (click)="selectTime('06:00','12:00')"><a [ngClass]="{active:isAct=='06:00' } "><span></span>06-12</a></li>
								<li (click)="selectTime('12:00','18:00')"><a [ngClass]="{active:isAct=='12:00' } "><span></span>12-18</a></li>
								<li (click)="selectTime('18:00','00:00')"><a [ngClass]="{active:isAct=='18:00' } "><span></span>18-00</a></li>
							</ul>
						</div>
					</div>
					<div class="search-filter airlines">
						<h2>Airlines</h2>
						<div class="input-search">
							<span><i class="fas fa-search"></i></span>
							<input type="text" class="form-control" placeholder="Search Airline">
						</div>
						<div class="custom-control custom-checkbox" *ngFor="let temp of airlineArr.airlynJson">
							<input type="checkbox" class="custom-control-input" id="{{temp.airlineName}}" name="airlineName" [(ngModel)]="temp.isChkd" (change)="checkAirline(temp)">
							<label class="custom-control-label" for="customCheck11">{{temp.airlineName}}</label>
						</div>
					</div>
					<div class="search-filter aircraft">
						<h2>Fare Type</h2>
						<div class="input-search">
							<span><i class="fas fa-search"></i></span>
							<input type="text" class="form-control" placeholder="Search Aircraft">
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="customradio1" value="Refundable" name="refund" (click)="fareType('Refundable')">
							<label class="custom-control-label" for="customRadio1">Refundable</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="customradio2"  value="Non-Refundable" name="refund" (click)="fareType('Non Refundable')">
							<label class="custom-control-label" for="customRadio2">Non-Refundable</label>
						</div>
						<!-- <div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="customCheck8" name="example1">
							<label class="custom-control-label" for="customCheck8">Airbus A321</label>
						</div>
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="customCheck9" name="example1">
							<label class="custom-control-label" for="customCheck9">Boeing 737</label>
						</div>
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="customCheck10" name="example1">
							<label class="custom-control-label" for="customCheck10">Boeing 737-800</label>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>
<section class="search-result">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 result-left">
				<div class="sort-by">
					<ul>
						<li>Sort By:</li>
						<li><a>Depart</a></li>
						<li><a>Arrive</a></li>
						<li><a>Duration</a></li>
						<li><a>Price per Adult</a></li>
					</ul>
				</div>
				<div class="flight-sec">
					<!-- ===================domestic================ -->
					<div class="row" *ngIf="flightType=='domestic'">
						<div class="col-lg-12"  *ngFor="let temp of flightList let i = index">
							<div class="flight-item" *ngIf="temp.FlightSegments.length==1">
								<div class="flight-list" >
									<div class="fgt-box">
										<div class="fgt-logo">
											<img src="{{url+temp.FlightSegments[0].ImagePath}}" class="fgt-img" alt="" />
											<p><span>{{temp.FlightSegments[0].AirLineName}}</span>{{temp.FlightSegments[0].OperatingAirlineCode}}-{{temp.FlightSegments[0].OperatingAirlineFlightNumber}}</p>
										</div>
										<div class="fgt-drt-box">
											<div class="fgt-from">{{temp.FlightSegments[0].DepartureDateTime | date:"HH:mm"}}<span>{{temp.FlightSegments[0].IntDepartureAirportName}}</span></div>
											<div class="duration-stop">
												<div class="planeLine">
													<div class="content-wrap" style="display: none;">
														<table>
															<tr class="table-head">
																<td align="left">Stop</td>
																<td align="right">Layover Time</td>
															</tr>
															<tr>
																<td align="left">Mubai</td>
																<td align="right">0h 55m</td>
															</tr>
														</table>
													</div>
												</div>
											</div>
											<div class="fgt-to">{{temp.FlightSegments[0].ArrivalDateTime | date:"HH:mm"}}<span>{{temp.FlightSegments[0].IntArrivalAirportName}}</span></div>
										</div>
										<div class="fgt-duration">
											{{temp.FlightSegments[0].Duration}}
											<div class="more-stops">
												<span>Non Stop<i class="info"></i></span>
												<div class="content-wrap" style="display: none;">
													<table>
														<tr class="table-head">
															<td align="left">Stop</td>
															<td align="right">Layover Time</td>
														</tr>
														<tr>
															<td align="left">Mubai</td>
															<td align="right">0h 55m</td>
														</tr>
													</table>
												</div>
											</div>
										</div>
									</div>
									<div class="price-box">
										<div class="fgt-price"><i class="fas fa-rupee-sign"></i>{{(netAmount(temp.FareDetails.ChargeableFares.NetFare)).toLocaleString('en-IN')}}</div>	
										<div class="btn-book" (click)="flightDetail(i,temp)"><a>Book</a></div>
									</div>
								</div>
								<div class="flight-det">
									<div class="fgt-link" (click)="showDetail(i,temp)">
										<a>Flight Details<span><i class="fas fa-chevron-down"></i></span></a>
									</div>
									<div class="row" id="flightdetails" [ngStyle]="{'display': actionType==i ? 'inline-flex':'none'}">
										<div class="col-lg-8 col-md-8 pr-0">
											<h2 class="heading">Flight Details</h2>
											<div class="flight-contents">
												<div class="flight-one">
												<div class="airline-name">
													<div class="airline-logo">
														<img src="{{url+temp.FlightSegments[0].ImagePath}}" class="fgt-img" alt="">
														<div class="airline-code">
															<p>{{temp.FlightSegments[0].AirLineName}},{{temp.FlightSegments[0].OperatingAirlineCode}}-{{temp.FlightSegments[0].OperatingAirlineFlightNumber}}<small>{{travelClass}}</small></p>
															<!-- <span>Airbus A320-100</span> -->
														</div>
													</div>
													<div class="amenties">
														<ul>
															<li class="select"><i class="fas fa-utensils"></i></li>
															<li><i class="fas fa-wifi"></i></li>
															<li><i class="fas fa-plug"></i></li>
															<li><i class="fab fa-youtube"></i></li>
														</ul>
													</div>
												</div>
												<div class="schedule-dts">
													<div class="depart-dts">
														<span class="city-head">{{temp.FlightSegments[0].IntDepartureAirportName}} ({{temp.FlightSegments[0].DepartureAirportCode}})</span>
														<h3>{{temp.FlightSegments[0].DepartureDateTime | date:"HH:mm"}}</h3>
														<p>{{temp.FlightSegments[0].DepartureDateTime | date }}</p>
														<!-- <span class="city-name">Bengaluru</span> -->
													</div>
													<div class="full-duration">
														<span class="no-wrap"><i class="far fa-clock"></i>{{temp.FlightSegments[0].Duration}}</span>
														<span class="dur-line"></span>
														<span class="no-wrap">Non Stop</span>
													</div>
													<div class="depart-dts">
														<span class="city-head">{{temp.FlightSegments[0].IntArrivalAirportName}} ({{temp.FlightSegments[0].ArrivalAirportCode}})</span>
														<h3>{{temp.FlightSegments[0].ArrivalDateTime | date:"HH:mm"}}</h3>
														<p>{{temp.FlightSegments[0].ArrivalDateTime | date }}</p>
														<!-- <span class="city-name">Shamshabad Rajiv</span> -->
													</div>
												</div>
												<div class="amen-details">
													<div class="baggage">Checkin Baggage :<span><i class="fas fa-suitcase"></i>{{temp.FlightSegments[0].BaggageAllowed.CheckInBaggage}}</span></div>
													<div class="paid-meal"><span><i class="fas fa-utensils"></i>Paid Meal</span></div>
												</div>
											</div>
												</div> 
											</div>
										<!-- </div> -->
										<!-- ===========newFareSummary========= -->
										<div class="col-lg-4 col-md-4 pl-0">
											<div class="fare-summary">
												<div class="fare-wrap">
												<ul class="nav nav-tabs">
												  <li class="nav-item">
													<a class="nav-link active" data-toggle="tab" href="#faresummary">Fare Summary</a>
												  </li>
												  <li class="nav-item">
													<a class="nav-link" data-toggle="tab" href="#fareRules">Fare Rules</a>
												  </li>
												</ul>
												<div class="tab-content">
												  <div class="tab-pane active" id="faresummary">
													<table class="table fare-table">
														<thead>
															<tr>
																<th>Fare Summary</th>
																<th>Base Fare</th>
																<th>Fees & Taxes</th>
															</tr>
														</thead> 
														<tbody>
															<tr>
																<td><p style="margin-bottom: 0rem;">Adult x {{temp.RequestDetails.Adults}}</p>
																	<p style="margin-bottom: 0rem;">Child x {{temp.RequestDetails.Children}}</p>
																	<p style="margin-bottom: 0rem;">Infant x {{temp.RequestDetails.Infants}}</p></td>
																<td><i class="fas fa-rupee-sign"></i>{{(temp.FareDetails.ChargeableFares.ActualBaseFare).toLocaleString('en-IN')}}</td>
																<td><i class="fas fa-rupee-sign"></i>{{(netAmount(temp.FareDetails.ChargeableFares.Tax)).toLocaleString('en-IN')}}</td>
															</tr>		
															<tr class="total">
																<td colspan="2">You Pay :</td>
																<td><i class="fas fa-rupee-sign"></i>{{(netAmount(temp.FareDetails.ChargeableFares.NetFare)).toLocaleString('en-IN')}}</td>
															</tr>
														</tbody>
													</table>
													<p class="noteText">Note: Total fare displayed above has been rounded off and may show a slight difference from actual fare.</p>
												  </div>
												  <div class="tab-pane" id="fareRules">
													<div class="custom-farerule" style="display:none;">
														<p>No Fare rules are found for this flight </p>
													</div>
													<div class="custom-farerule">
														{{fareRule}}
													<!-- <h4>BLR-HYD</h4>
													<table class="table fare-table">
														<thead>
															<tr>
																<th>Time</th>
																<th>Airline date</th>
															</tr>
														</thead> 
														<tbody>
															<tr>
																<td>Duration</td>
																<td>0 hour to 1 dyas</td>
															</tr>
															<tr>
																<td>Per Passenger</td>
																<td><i class="fas fa-rupee-sign"></i>5,581</td>
															</tr>		
															<tr>
																<td> 1 days</td>
																<td><i class="fas fa-rupee-sign"></i>5,581</td>
															</tr>
														</tbody>
													</table> -->
													</div>
												  </div>
												</div>
												</div>
												
												 <div class="fare-btn-group">
													<button class="btn-default" type="submit" (click)="flightDetail(i,temp)">Book</button>
												 </div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="flight-item" *ngIf="temp.FlightSegments.length!=1">
								<div class="flight-list">
									<div class="fgt-box">
										<div class="fgt-logo">
											<img src="{{url+temp.FlightSegments[0].ImagePath}}" class="fgt-img" alt="" />
											<p><span>{{temp.FlightSegments[0].AirLineName}}</span>{{temp.FlightSegments[0].OperatingAirlineCode}}-{{temp.FlightSegments[0].OperatingAirlineFlightNumber}}</p>
										</div>
										<div class="fgt-drt-box">
											<div class="fgt-from">{{temp.FlightSegments[0].DepartureDateTime | date:"HH:mm"}}<span>{{temp.FlightSegments[0].IntDepartureAirportName}}</span></div>
											<div class="duration-stop">
												<div class="planeLine">
													<div class="content-wrap" style="display: none;">
														<table>
															<tr class="table-head">
																<td align="left">Stop</td>
																<td align="right">Layover Time</td>
															</tr>
															<tr>
																<td align="left">Mubai</td>
																<td align="right">0h 55m</td>
															</tr>
														</table>
													</div>
												</div>
												<!-- <div class="stop-circle">
													<div class="content-wrap" style="display: none;">
														<table>
															<tr class="table-head">
																<td align="left">Stop</td>
																<td align="right">Layover Time</td>
															</tr>
															<tr>
																<td align="left">Mubai</td>
																<td align="right">0h 55m</td>
															</tr>
														</table>
													</div>
												</div> -->
											</div>
											<div class="fgt-to">{{temp.FlightSegments[temp.FlightSegments.length-1].ArrivalDateTime | date:"HH:mm"}}<span>{{temp.FlightSegments[temp.FlightSegments.length-1].IntArrivalAirportName}}</span></div>
										</div>
										<div class="fgt-duration">
											{{temp.FlightSegments[temp.FlightSegments.length-1].AccumulatedDuration}}
											<div class="more-stops">
												<span>{{temp.FlightSegments.length-1}} Stop<i class="info"></i></span>
												<div class="content-wrap" style="display: none;">
													<table>
														<tr class="table-head">
															<td align="left">Stop</td>
															<td align="right">Layover Time</td>
														</tr>
														<tr>
															<td align="left">Mubai</td>
															<td align="right">0h 55m</td>
														</tr>
														<tr>
															<td align="left">Bangalore</td>
															<td align="right">0h 55m</td>
														</tr>
													</table>
												</div>
											</div>
										</div>
									</div>
									<div class="price-box">
										<div class="fgt-price"><i class="fas fa-rupee-sign"></i>{{(netAmount(temp.FareDetails.ChargeableFares.NetFare)).toLocaleString('en-IN')}}</div>	
										<div class="btn-book" (click)="flightDetail(i,temp)"><a>Book</a></div>
									</div>
								</div>
								<div class="flight-det">
									<div class="fgt-link" (click)="showDetail(i,temp)">
										<a>Flight Details<span><i class="fas fa-chevron-down"></i></span></a>
									</div>
									<div class="row" id="flightdetails" [ngStyle]="{'display': actionType==i ? 'inline-flex':'none'}">
										<div class="col-lg-8 col-md-8 pr-0">
											<h2 class="heading">Flight Details</h2>
											<div class="flight-contents">
												<div *ngFor="let item of temp.FlightSegments let i = index">
													<div class="yellow-msg" *ngIf="i!=0">
														<p>Change plane at <strong>{{item.IntDepartureAirportName}} ({{item.DepartureAirportCode}})</strong>, Connecting Time: <strong>({{item.GroundTime}})</strong> </p>
													</div>
												<div class="flight-one">
												<div class="airline-name">
													<div class="airline-logo">
														<img src="{{url+item.ImagePath}}" class="fgt-img" alt="">
														<div class="airline-code">
															<p>{{item.AirLineName}},{{item.OperatingAirlineCode}}-{{item.OperatingAirlineFlightNumber}}<small>{{travelClass}}</small></p>
															<!-- <span>Airbus A320-100</span> -->
														</div>
													</div>
													<div class="amenties">
														<ul>
															<li class="select"><i class="fas fa-utensils"></i></li>
															<li><i class="fas fa-wifi"></i></li>
															<li><i class="fas fa-plug"></i></li>
															<li><i class="fab fa-youtube"></i></li>
														</ul>
													</div>
												</div>
												<div class="schedule-dts">
													<div class="depart-dts">
														<span class="city-head">{{item.IntDepartureAirportName}} ({{item.DepartureAirportCode}})</span>
														<h3>{{item.DepartureDateTime | date:"HH:mm"}}</h3>
														<p>{{item.DepartureDateTime | date }}</p>
														<span class="city-name">Bengaluru</span>
													</div>
													<div class="full-duration">
														<span class="no-wrap"><i class="far fa-clock"></i>{{item.Duration}}</span>
														<span class="dur-line"></span>
														<span class="no-wrap">Non Stop</span>
													</div>
													<div class="depart-dts">
														<span class="city-head">{{item.IntArrivalAirportName}} ({{item.ArrivalAirportCode}})</span>
														<h3>{{item.ArrivalDateTime | date:"HH:mm"}}</h3>
														<p>{{item.ArrivalDateTime | date }}</p>
														<span class="city-name">Shamshabad Rajiv</span>
													</div>
												</div>
												<div class="amen-details">
													<div class="baggage">Checkin Baggage :<span><i class="fas fa-suitcase"></i>{{item.BaggageAllowed.CheckInBaggage}}</span></div>
													<div class="paid-meal"><span><i class="fas fa-utensils"></i>Paid Meal</span></div>
												</div>
											</div>
												<!-- <div class="yellow-msg">
													<p>Change plane at <strong>{{item.IntArrivalAirportName}} ({{item.ArrivalAirportCode}})</strong>, Connecting Time: <strong>({{item.GroundTime}})</strong> </p>
												</div> -->
											</div>
												<!-- <div class="flight-one">
													<div class="airline-name">
														<div class="airline-logo">
															<img src="../assets/images/indigo.png" class="fgt-img" alt="">
															<div class="airline-code">
																<p>IndiGo,6E-452<small>(Economy)</small></p>
																<span>Airbus A320-100</span>
															</div>
														</div>
														<div class="amenties"></div>
													</div>
													<div class="schedule-dts">
														<div class="depart-dts">
															<span class="city-head">Bangalore (BLR)</span>
															<h3>05:15</h3>
															<p>Thu, 23 Apr 2020</p>
															<span class="city-name">Bengaluru</span>
														</div>
														<div class="full-duration">
															<span class="no-wrap"><i class="far fa-clock"></i>1h 20m</span>
															<span class="dur-line"></span>
															<span class="no-wrap">Non Stop</span>
														</div>
														<div class="depart-dts">
															<span class="city-head">Hyderabad (HYD)</span>
															<h3>06:35</h3>
															<p>Thu, 23 Apr 2020</p>
															<span class="city-name">Shamshabad Rajiv</span>
														</div>
													</div>
													<div class="amen-details">
														<div class="baggage">Checkin Baggage :<span><i class="fas fa-suitcase"></i>15 kgs</span></div>
														<div class="paid-meal"><span><i class="fas fa-utensils"></i>Paid Meal</span></div>
													</div>
												</div>
												<div class="yellow-msg">
													<p>Change plane at <strong>Hyderabad (HYD)</strong>, Connecting Time: <strong>4h 35m</strong> </p>
												</div> -->
												
											</div>
										</div>
										<!-- ==================newFareSummary================ -->
										<div class="col-lg-4 col-md-4 pl-0">
											<div class="fare-summary">
												<div class="fare-wrap">
												<ul class="nav nav-tabs">
												  <li class="nav-item">
													<a class="nav-link active" data-toggle="tab" href="#faresummary">Fare Summary</a>
												  </li>
												  <li class="nav-item">
													<a class="nav-link" data-toggle="tab" href="#fareRules">Fare Rules</a>
												  </li>
												</ul>
												<div class="tab-content">
												  <div class="tab-pane active" id="faresummary">
													<table class="table fare-table">
														<thead>
															<tr>
																<th>Fare Summary</th>
																<th>Base Fare</th>
																<th>Fees & Taxes</th>
															</tr>
														</thead> 
														<tbody>
															<tr>
																<td><p style="margin-bottom: 0rem;">Adult x {{temp.RequestDetails.Adults}}</p>
																	<p style="margin-bottom: 0rem;">Child x {{temp.RequestDetails.Children}}</p>
																	<p style="margin-bottom: 0rem;">Infant x {{temp.RequestDetails.Infants}}</p></td>
																<td><i class="fas fa-rupee-sign"></i>{{(temp.FareDetails.ChargeableFares.ActualBaseFare).toLocaleString('en-IN')}}</td>
																<td><i class="fas fa-rupee-sign"></i>{{(netAmount(temp.FareDetails.ChargeableFares.Tax)).toLocaleString('en-IN')}}</td>
															</tr>		
															<tr class="total">
																<td colspan="2">You Pay :</td>
																<td><i class="fas fa-rupee-sign"></i>{{(netAmount(temp.FareDetails.ChargeableFares.NetFare)).toLocaleString('en-IN')}}</td>
															</tr>
														</tbody>
													</table>
													<p class="noteText">Note: Total fare displayed above has been rounded off and may show a slight difference from actual fare.</p>
												  </div>
												  <div class="tab-pane" id="fareRules">
													<div class="custom-farerule" style="display:none;">
														<p>No Fare rules are found for this flight </p>
													</div>
													<div class="custom-farerule">
													<!-- <h4>BLR-HYD</h4>
													<table class="table fare-table">
														<thead>
															<tr>
																<th>Time</th>
																<th>Airline date</th>
															</tr>
														</thead> 
														<tbody>
															<tr>
																<td>Duration</td>
																<td>0 hour to 1 dyas</td>
															</tr>
															<tr>
																<td>Per Passenger</td>
																<td><i class="fas fa-rupee-sign"></i>5,581</td>
															</tr>		
															<tr>
																<td> 1 days</td>
																<td><i class="fas fa-rupee-sign"></i>5,581</td>
															</tr>
														</tbody>
													</table> -->
													{{fareRule}}
													</div>
												  </div>
												</div>
												</div>
												
												 <div class="fare-btn-group">
													<button class="btn-default" type="submit" (click)="flightDetail(i,temp)">Book</button>
												 </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						</div>
						<!-- ====================international=========================== -->
						<div class="row" *ngIf="flightType=='international'">
							<div class="col-lg-12"  *ngFor="let temp of IntflightList let i = index">
								<div class="flight-item" *ngIf="temp.IntOnward.FlightSegments.length==1">
									<div class="flight-list" >
										<div class="fgt-box">
											<div class="fgt-logo">
												<img src="{{url+temp.IntOnward.FlightSegments[0].ImagePath}}" class="fgt-img" alt="" />
												<p><span>{{temp.IntOnward.FlightSegments[0].AirLineName}}</span>{{temp.IntOnward.FlightSegments[0].OperatingAirlineCode}}-{{temp.IntOnward.FlightSegments[0].OperatingAirlineFlightNumber}}</p>
											</div>
											<div class="fgt-drt-box">
												<div class="fgt-from">{{temp.IntOnward.FlightSegments[0].DepartureDateTime | date:"HH:mm"}}<span>{{temp.IntOnward.FlightSegments[0].IntDepartureAirportName}}</span></div>
												<div class="duration-stop">
													<div class="planeLine">
														<div class="content-wrap" style="display: none;">
															<table>
																<tr class="table-head">
																	<td align="left">Stop</td>
																	<td align="right">Layover Time</td>
																</tr>
																<tr>
																	<td align="left">Mubai</td>
																	<td align="right">0h 55m</td>
																</tr>
															</table>
														</div>
													</div>
												</div>
												<div class="fgt-to">{{temp.IntOnward.FlightSegments[0].ArrivalDateTime | date:"HH:mm"}}<span>{{temp.IntOnward.FlightSegments[0].IntArrivalAirportName}}</span></div>
											</div>
											<div class="fgt-duration">
												{{temp.IntOnward.FlightSegments[0].Duration}}
												<div class="more-stops">
													<span>Non Stop<i class="info"></i></span>
													<div class="content-wrap" style="display: none;">
														<table>
															<tr class="table-head">
																<td align="left">Stop</td>
																<td align="right">Layover Time</td>
															</tr>
															<tr>
																<td align="left">Mubai</td>
																<td align="right">0h 55m</td>
															</tr>
														</table>
													</div>
												</div>
											</div>
										</div>
										<div class="price-box">
											<div class="fgt-price"><i class="fas fa-rupee-sign"></i>{{(netAmount(temp.FareDetails.ChargeableFares.NetFare)).toLocaleString('en-IN')}}</div>	
											<div class="btn-book" (click)="internationalFlightDetail(i,temp)"><a>Book</a></div>
										</div>
									</div>
									<div class="flight-det">
										<div class="fgt-link" (click)="showIntFlightDetail(i,temp)">
											<a>Flight Details<span><i class="fas fa-chevron-down"></i></span></a>
										</div>
										<div class="row" id="flightdetails" [ngStyle]="{'display': actionInt==i ? 'inline-flex':'none'}">
											<div class="col-lg-8 col-md-8 pr-0">
												<h2 class="heading">Flight Details</h2>
												<div class="flight-contents">
													<div class="flight-one">
													<div class="airline-name">
														<div class="airline-logo">
															<img src="{{url+temp.IntOnward.FlightSegments[0].ImagePath}}" class="fgt-img" alt="">
															<div class="airline-code">
																<p>{{temp.IntOnward.FlightSegments[0].AirLineName}},{{temp.IntOnward.FlightSegments[0].OperatingAirlineCode}}-{{temp.IntOnward.FlightSegments[0].OperatingAirlineFlightNumber}}<small>{{this.reqObj}}</small></p>
																<!-- <span>Airbus A320-100</span> -->
															</div>
														</div>
														<div class="amenties">
															<ul>
																<li class="select"><i class="fas fa-utensils"></i></li>
																<li><i class="fas fa-wifi"></i></li>
																<li><i class="fas fa-plug"></i></li>
																<li><i class="fab fa-youtube"></i></li>
															</ul>
														</div>
													</div>
													<div class="schedule-dts">
														<div class="depart-dts">
															<span class="city-head">{{temp.IntOnward.FlightSegments[0].IntDepartureAirportName}} ({{temp.IntOnward.FlightSegments[0].DepartureAirportCode}})</span>
															<h3>{{temp.IntOnward.FlightSegments[0].DepartureDateTime | date:"HH:mm"}}</h3>
															<p>{{temp.IntOnward.FlightSegments[0].DepartureDateTime | date }}</p>
															<span class="city-name">Bengaluru</span>
														</div>
														<div class="full-duration">
															<span class="no-wrap"><i class="far fa-clock"></i>{{temp.IntOnward.FlightSegments[0].Duration}}</span>
															<span class="dur-line"></span>
															<span class="no-wrap">Non Stop</span>
														</div>
														<div class="depart-dts">
															<span class="city-head">{{temp.IntOnward.FlightSegments[0].IntArrivalAirportName}} ({{temp.IntOnward.FlightSegments[0].ArrivalAirportCode}})</span>
															<h3>{{temp.IntOnward.FlightSegments[0].ArrivalDateTime | date:"HH:mm"}}</h3>
															<p>{{temp.IntOnward.FlightSegments[0].ArrivalDateTime | date }}</p>
															<span class="city-name">Shamshabad Rajiv</span>
														</div>
													</div>
													<div class="amen-details">
														<div class="baggage">Checkin Baggage :<span><i class="fas fa-suitcase"></i>{{temp.IntOnward.FlightSegments[0].BaggageAllowed.CheckInBaggage}}</span></div>
														<div class="paid-meal"><span><i class="fas fa-utensils"></i>Paid Meal</span></div>
													</div>
												</div>
												</div>
											</div>
											<!-- ===========newFareSummary========= -->
											<div class="col-lg-4 col-md-4 pl-0">
												<div class="fare-summary">
													<div class="fare-wrap">
													<ul class="nav nav-tabs">
													  <li class="nav-item">
														<a class="nav-link active" data-toggle="tab" href="#faresummary">Fare Summary</a>
													  </li>
													  <li class="nav-item">
														<a class="nav-link" data-toggle="tab" href="#fareRules">Fare Rules</a>
													  </li>
													</ul>
													<div class="tab-content">
													  <div class="tab-pane active" id="faresummary">
														<table class="table fare-table">
															<thead>
																<tr>
																	<th>Fare Summary</th>
																	<th>Base Fare</th>
																	<th>Fees & Taxes</th>
																</tr>
															</thead> 
															<tbody>
																<tr>
																	<td><p style="margin-bottom: 0rem;">Adult x {{temp.RequestDetails.Adults}}</p>
																		<p style="margin-bottom: 0rem;">Child x {{temp.RequestDetails.Children}}</p>
																		<p style="margin-bottom: 0rem;">Infant x {{temp.RequestDetails.Infants}}</p></td>
																	<td><i class="fas fa-rupee-sign"></i>{{(temp.FareDetails.ChargeableFares.ActualBaseFare).toLocaleString('en-IN')}}</td>
																	<td><i class="fas fa-rupee-sign"></i>{{(netAmount(temp.FareDetails.ChargeableFares.Tax)).toLocaleString('en-IN')}}</td>
																</tr>		
																<tr class="total">
																	<td colspan="2">You Pay :</td>
																	<td><i class="fas fa-rupee-sign"></i>{{(netAmount(temp.FareDetails.ChargeableFares.NetFare)).toLocaleString('en-IN')}}</td>
																</tr>
															</tbody>
														</table>
														<p class="noteText">Note: Total fare displayed above has been rounded off and may show a slight difference from actual fare.</p>
													  </div>
													  <div class="tab-pane" id="fareRules">
														<div class="custom-farerule" style="display:none;">
															<p>No Fare rules are found for this flight </p>
														</div>
														<div class="custom-farerule">
													{{fareRuleInt}}
														</div>
													  </div>
													</div>
													</div>
													
													 <div class="fare-btn-group">
														<button class="btn-default" type="submit" (click)="internationalFlightDetail(i,temp)">Book</button>
													 </div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="flight-item" *ngIf="temp.IntOnward.FlightSegments.length!=1">
									<div class="flight-list">
										<div class="fgt-box">
											<div class="fgt-logo">
												<img src="{{url+temp.IntOnward.FlightSegments[0].ImagePath}}" class="fgt-img" alt="" />
												<p><span>{{temp.IntOnward.FlightSegments[0].AirLineName}}</span>{{temp.IntOnward.FlightSegments[0].OperatingAirlineCode}}-{{temp.IntOnward.FlightSegments[0].OperatingAirlineFlightNumber}}</p>
											</div>
											<div class="fgt-drt-box">
												<div class="fgt-from">{{temp.IntOnward.FlightSegments[0].DepartureDateTime | date:"HH:mm"}}<span>{{temp.IntOnward.FlightSegments[0].IntDepartureAirportName}}</span></div>
												<div class="duration-stop">
													<div class="planeLine">
														<div class="content-wrap" style="display: none;">
															<table>
																<tr class="table-head">
																	<td align="left">Stop</td>
																	<td align="right">Layover Time</td>
																</tr>
																<tr>
																	<td align="left">Mubai</td>
																	<td align="right">0h 55m</td>
																</tr>
															</table>
														</div>
													</div>
													<!-- <div class="stop-circle">
														<div class="content-wrap" style="display: none;">
															<table>
																<tr class="table-head">
																	<td align="left">Stop</td>
																	<td align="right">Layover Time</td>
																</tr>
																<tr>
																	<td align="left">Mubai</td>
																	<td align="right">0h 55m</td>
																</tr>
															</table>
														</div>
													</div> -->
												</div>
												<div class="fgt-to">{{temp.IntOnward.FlightSegments[temp.IntOnward.FlightSegments.length-1].ArrivalDateTime | date:"HH:mm"}}<span>{{temp.IntOnward.FlightSegments[temp.IntOnward.FlightSegments.length-1].IntArrivalAirportName}}</span></div>
											</div>
											<div class="fgt-duration">
												{{temp.IntOnward.FlightSegments[temp.IntOnward.FlightSegments.length-1].AccumulatedDuration}}
												<div class="more-stops">
													<span>{{temp.IntOnward.FlightSegments.length-1}} Stop<i class="info"></i></span>
													<div class="content-wrap" style="display: none;">
														<table>
															<tr class="table-head">
																<td align="left">Stop</td>
																<td align="right">Layover Time</td>
															</tr>
															<tr>
																<td align="left">Mubai</td>
																<td align="right">0h 55m</td>
															</tr>
															<tr>
																<td align="left">Bangalore</td>
																<td align="right">0h 55m</td>
															</tr>
														</table>
													</div>
												</div>
											</div>
										</div>
										<div class="price-box">
											<div class="fgt-price"><i class="fas fa-rupee-sign"></i>{{(netAmount(temp.FareDetails.ChargeableFares.NetFare)).toLocaleString('en-IN')}}</div>	
											<div class="btn-book" (click)="internationalFlightDetail(i,temp)"><a>Book</a></div>
										</div>
									</div>
									<div class="flight-det">
										<div class="fgt-link" (click)="showIntFlightDetail(i,temp)">
											<a>Flight Details<span><i class="fas fa-chevron-down"></i></span></a>
										</div>
										<div class="row" id="flightdetails" [ngStyle]="{'display': actionInt==i ? 'inline-flex':'none'}">
											<div class="col-lg-8 col-md-8 pr-0">
												<h2 class="heading">Flight Details</h2>
												<div class="flight-contents">
													<div *ngFor="let item of temp.IntOnward.FlightSegments let i = index">
														<div class="yellow-msg" *ngIf="i!=0">
															<p>Change plane at <strong>{{item.IntDepartureAirportName}} ({{item.DepartureAirportCode}})</strong>, Connecting Time: <strong>({{item.GroundTime}})</strong> </p>
														</div>
													<div class="flight-one">
													<div class="airline-name">
														<div class="airline-logo">
															<img src="{{url+item.ImagePath}}" class="fgt-img" alt="">
															<div class="airline-code">
																<p>{{item.AirLineName}},{{item.OperatingAirlineCode}}-{{item.OperatingAirlineFlightNumber}}<small>{{travelClass}}</small></p>
																<!-- <span>Airbus A320-100</span> -->
															</div>
														</div>
														<div class="amenties">
															<ul>
																<li class="select"><i class="fas fa-utensils"></i></li>
																<li><i class="fas fa-wifi"></i></li>
																<li><i class="fas fa-plug"></i></li>
																<li><i class="fab fa-youtube"></i></li>
															</ul>
														</div>
													</div>
													<div class="schedule-dts">
														<div class="depart-dts">
															<span class="city-head">{{item.IntDepartureAirportName}} ({{item.DepartureAirportCode}})</span>
															<h3>{{item.DepartureDateTime | date:"HH:mm"}}</h3>
															<p>{{item.DepartureDateTime | date }}</p>
															<span class="city-name">Bengaluru</span>
														</div>
														<div class="full-duration">
															<span class="no-wrap"><i class="far fa-clock"></i>{{item.Duration}}</span>
															<span class="dur-line"></span>
															<span class="no-wrap">Non Stop</span>
														</div>
														<div class="depart-dts">
															<span class="city-head">{{item.IntArrivalAirportName}} ({{item.ArrivalAirportCode}})</span>
															<h3>{{item.ArrivalDateTime | date:"HH:mm"}}</h3>
															<p>{{item.ArrivalDateTime | date }}</p>
															<span class="city-name">Shamshabad Rajiv</span>
														</div>
													</div>
													<div class="amen-details">
														<div class="baggage">Checkin Baggage :<span><i class="fas fa-suitcase"></i>{{item.BaggageAllowed.CheckInBaggage}}</span></div>
														<div class="paid-meal"><span><i class="fas fa-utensils"></i>Paid Meal</span></div>
													</div>
												</div>
													<!-- <div class="yellow-msg">
														<p>Change plane at <strong>{{item.IntArrivalAirportName}} ({{item.ArrivalAirportCode}})</strong>, Connecting Time: <strong>({{item.GroundTime}})</strong> </p>
													</div> -->
												</div>
													<!-- <div class="flight-one">
														<div class="airline-name">
															<div class="airline-logo">
																<img src="../assets/images/indigo.png" class="fgt-img" alt="">
																<div class="airline-code">
																	<p>IndiGo,6E-452<small>(Economy)</small></p>
																	<span>Airbus A320-100</span>
																</div>
															</div>
															<div class="amenties"></div>
														</div>
														<div class="schedule-dts">
															<div class="depart-dts">
																<span class="city-head">Bangalore (BLR)</span>
																<h3>05:15</h3>
																<p>Thu, 23 Apr 2020</p>
																<span class="city-name">Bengaluru</span>
															</div>
															<div class="full-duration">
																<span class="no-wrap"><i class="far fa-clock"></i>1h 20m</span>
																<span class="dur-line"></span>
																<span class="no-wrap">Non Stop</span>
															</div>
															<div class="depart-dts">
																<span class="city-head">Hyderabad (HYD)</span>
																<h3>06:35</h3>
																<p>Thu, 23 Apr 2020</p>
																<span class="city-name">Shamshabad Rajiv</span>
															</div>
														</div>
														<div class="amen-details">
															<div class="baggage">Checkin Baggage :<span><i class="fas fa-suitcase"></i>15 kgs</span></div>
															<div class="paid-meal"><span><i class="fas fa-utensils"></i>Paid Meal</span></div>
														</div>
													</div>
													<div class="yellow-msg">
														<p>Change plane at <strong>Hyderabad (HYD)</strong>, Connecting Time: <strong>4h 35m</strong> </p>
													</div> -->
													
												</div>
											</div>
											<!-- ==================newFareSummary================ -->
											<div class="col-lg-4 col-md-4 pl-0">
												<div class="fare-summary">
													<div class="fare-wrap">
													<ul class="nav nav-tabs">
													  <li class="nav-item">
														<a class="nav-link active" data-toggle="tab" href="#faresummary">Fare Summary</a>
													  </li>
													  <li class="nav-item">
														<a class="nav-link" data-toggle="tab" href="#fareRules">Fare Rules</a>
													  </li>
													</ul>
													<div class="tab-content">
													  <div class="tab-pane active" id="faresummary">
														<table class="table fare-table">
															<thead>
																<tr>
																	<th>Fare Summary</th>
																	<th>Base Fare</th>
																	<th>Fees & Taxes</th>
																</tr>
															</thead> 
															<tbody>
																<tr>
																	<td><p style="margin-bottom: 0rem;">Adult x {{temp.RequestDetails.Adults}}</p>
																		<p style="margin-bottom: 0rem;">Child x {{temp.RequestDetails.Children}}</p>
																		<p style="margin-bottom: 0rem;">Infant x {{temp.RequestDetails.Infants}}</p></td>
																	<td><i class="fas fa-rupee-sign"></i>{{(temp.FareDetails.ChargeableFares.ActualBaseFare).toLocaleString('en-IN')}}</td>
																	<td><i class="fas fa-rupee-sign"></i>{{(netAmount(temp.FareDetails.ChargeableFares.Tax)).toLocaleString('en-IN')}}</td>
																</tr>		
																<tr class="total">
																	<td colspan="2">You Pay :</td>
																	<td><i class="fas fa-rupee-sign"></i>{{(netAmount(temp.FareDetails.ChargeableFares.NetFare)).toLocaleString('en-IN')}}</td>
																</tr>
															</tbody>
														</table>
														<p class="noteText">Note: Total fare displayed above has been rounded off and may show a slight difference from actual fare.</p>
													  </div>
													  <div class="tab-pane" id="fareRules">
														<div class="custom-farerule" style="display:none;">
															<p>No Fare rules are found for this flight </p>
														</div>
														<div class="custom-farerule">
														<!-- <h4>BLR-HYD</h4> -->
													{{fareRuleInt}}
														</div>
													  </div>
													</div>
													</div>
													
													 <div class="fare-btn-group">
														<button class="btn-default" type="submit" (click)="internationalFlightDetail(i,temp)">Book</button>
													 </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>	
						<!-- =======================international-end=========== -->
						<div class="col-lg-12">
							<div class="full-offers">
								<img src="../assets/images/full-offers.jpg" alt="" class="img-fluid" />
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="offers-box">
					<img src="../assets/images/offers.png" class="img-fluid" alt="" />
				</div>
				<div class="offers-box">
					<img src="../assets/images/offers2.png" class="img-fluid" alt="" />
				</div>
			</div>
		</div>
	</div>	
</section>
<script>
	var slider = document.getElementById("myRange");
	var output = document.getElementById("demo");
	output.innerHTML = slider.value;

	slider.oninput = function() {
	  output.innerHTML = this.value;
}
</script>