<section class="inner-wrapper">
	<div class="container">
		<h1>Contact Us</h1>
	</div>
</section>


<section class="contact-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6 offset-lg-4 offset-md-4 offset-sm-3">
				<div class="contact-form">
					<h2>Get in touch with us</h2>
					<form>
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Name">
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Email">
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Phone Number">
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group">
									<textarea class="form-control" placeholder="Message"></textarea>
								</div>
							</div>
							<div class="col-lg-12 text-right">
								<a href="#" class="btn-send">Send</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			
		</div>
	</div>
</section>

<section class="contact-box1">
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 dmb">&nbsp;</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="contact-addrerss">
					<h2>Contact Information</h2>
					<ul>
						<li><span><i class="fas fa-map-marker-alt"></i></span><strong>Address:</strong>FareInsider.com<br>A-689A Sushant Lok-I<br>Gurugram Haryana - 122002, India</li>
						<li><span><i class="fas fa-phone deg90"></i></span><strong>Call Us:</strong>+91-1111000011</li>
						<li><span><i class="far fa-envelope"></i></span><strong>Email:</strong>info@fareinsider.com</li>
					</ul>
				</div>
				<ul class="social-media">
					<li><a href="#"><img src="../assets/images/facebook.png" alt="Facebook"></a></li>
					<li><a href="#"><img src="../assets/images/linkedin.png" alt="Linkedin"></a></li>
					<li><a href="#"><img src="../assets/images/twitter.png" alt="Twitter"></a></li>
					<li><a href="#"><img src="../assets/images/instagram.png" alt="Instagram"></a></li>
				</ul>
			</div>

            <div class="col-lg-4 col-md-4 col-sm-4">
				<div class="contact-help">
					<div class="h4">How Can We Help?</div>
					<div class="contact-hh">
						<p>Please select a topic below related to your inquiry. If you don’t find what you need, fill out our contact form.</p>
						<h5>Book a Demo</h5>
						<p>Request a demo from one of our conversion specialists.</p>
						<hr />
						<h5>Get Inspired</h5>
						<p>Discover the many ways in which our customers use Sleeknote.</p>
						<hr />
						<h5>Become a Partner</h5>
						<p>Join our Partner Program and earn 25% recurring commissions.</p>
					</div>
				</div>

			</div>
			
		</div>
	</div>
</section>

