<section class="top-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="more-links">
					<ul>
						<li><a href="/customer-login">Your account</a></li> 
						<li><a href="/about">About Us</a></li>
						<li><a href="contact">Contact Us</a></li>
						<li><a href="terms">Terms and conditions</a></li>
						<li><a href="privacy">Policies</a></li>
					</ul> 
				</div>
			</div>
		</div>
	</div>	
</section>
<footer>
	<div class="footer-link" style="display: none;">
	<div class="container">
		<div class="row">
			<div class="col">
				<ul>
					<li><a>Counties</a></li>
					<li><a>Regions</a></li>
					<li><a>Cities</a></li>
					<li><a>Districts</a></li>
					<li><a>Atrports</a></li>
					<li><a>Hotels</a></li>
					<li><a>Places of Interest</a></li>
				</ul>
			</div>
			<div class="col">
				<ul>
					<li><a>Hoilday rentals</a></li>
					<li><a>Apartment</a></li>
					<li><a>Resorts</a></li>
					<li><a>Villas</a></li>
					<li><a>Hostels</a></li>
					<li><a>B&Bs</a></li>
					<li><a>Guest houses</a></li>
					<li><a>Hotel chains</a></li>
				</ul>
			</div>
			<div class="col">
				<ul>
					<li><a>All property types</a></li>
					<li><a>All themes</a></li>
					<li><a>All destinations</a></li>
					<li><a>Reviews</a></li>
					<li><a>Unpacked Travel articies</a></li>
				</ul>
			</div>
			<div class="col">
				<ul>
					<li><a>Car hire</a></li>
					<li><a>Flight finder</a></li>
					<li><a>Restaurant reservations</a></li>
					<li><a>Seek&Go</a></li>
					<li><a>Booking.com for Travel Agents</a></li>
				</ul>
			</div>
			<div class="col">
				<ul>
					<li><a>About Booking.com</a></li>
					<li><a>Customer Service help</a></li>
					<li><a>Career</a></li>
					<li><a>Press centre</a></li>
					<li><a>Terms & Conditions</a></li>
					<li><a>Privacy & Cookies</a></li>
					<li><a>Contact us</a></li>
				</ul>
			</div>
		</div>
	</div>
	</div>
	<div class="footer-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="downlode-app">
						<h2>Get the free Booking.com app now</h2>
						<span>Well send you a link to downlode the app direct from your mobile or tablet.</span>
						<div class="downlode-box">
							<label>Enter Mobile</label>
							<input type="text" class="form-control" placeholder="+91 9898909878">
							<button class="btn-search" type="button">Search offers</button>
						</div>
						<p>Available aon iPhone, Iped and Android.<a>Find out more...</a></p>
					</div>
				</div>
				<div class="col-lg-5 offset-lg-2">
					<div class="footer-about">
						<h2>About</h2>
						<span>Booking.com B.V. is based in Amsterdam in the Netherlands and is supported internationally by 204 offers in 70 countries.</span>
						<p>Booking.com is part of The Princeline Group the world leader in online travel and related services.</p>
						<ul class="services-logo">
							<li><img src="../assets/images/priceline_btn.png" alt="" /></li>
							<li><img src="../assets/images/kayak_logo.png" alt="" /></li>
							<li><img src="../assets/images/Agoda_logo.png" alt="" /></li>
							<li><img src="../assets/images/logo.png" alt="" /></li>
							<li><img src="../assets/images/kayak_logo.png" alt="" /></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<p>Copyright &copy; 2021 FareInsider.com</p>
		</div>
	</div>
</footer>