<section class="main-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-7 order-1">
				<h2>Payment Method</h2>
				<div class="box-content payment-box">
					<div class="payment-wrap row">
						<ul class="nav nav-tabs col-lg-3">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#creditcard">Credit Card</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#debitcard">Debit Card</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#netbanking">Net Banking</a>
							</li>
						</ul>
						<div class="tab-content col-lg-9">
							<div class="tab-pane active" id="creditcard">
								<div class="pay-creditcard">
									<h3>Pay With Credit Card</h3>
									<form>
										<div class="row">
											<div class="col-lg-6">
												<div class="form-group">
													<label>Credit Card Number</label>
													<input type="text" class="form-control">
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label>Name on Card</label>
													<input type="text" class="form-control">
												</div>
											</div>
											<div class="col-lg-6">
												<label>Expiry Date</label>
												<div class="form-group expiry-date">
													<select class="form-control">
														<option value="0">Month</option>
														<option value="0">01</option>
														<option value="0">02</option>
														<option value="0">03</option>
													</select>
													<select class="form-control">
														<option value="0">Year</option>
														<option value="0">2020</option>
														<option value="0">2021</option>
														<option value="0">2022</option>
													</select>
												</div>
											</div>
											<div class="col-lg-3">
												<div class="form-group">
													<label>CVV</label>
													<input type="text" class="form-control">
												</div>
											</div>
											<div class="col-lg-12 final-pay">
												<div class="price-box">
													<div class="fgt-price"><i class="fas fa-rupee-sign"></i>9,830</div>	
													<div class="btn-book"><a>Pay Now</a></div>
												</div>
												<p>By clicking on Pay Now, you are agreeing to our <a>Terms & Conditions</a>and<a>Privacy policy</a>and<a>User Agreement</a></p>
											</div>
										</div>
									</form>
								</div>	
							</div>
							<div class="tab-pane" id="debitcard">
								<div class="pay-creditcard">
									<h3>Pay With Debit Card</h3>
									<form>
										<div class="row">
											<div class="col-lg-6">
												<div class="form-group">
													<label>Credit Card Number</label>
													<input type="text" class="form-control">
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label>Name on Card</label>
													<input type="text" class="form-control">
												</div>
											</div>
											<div class="col-lg-6">
												<label>Expiry Date</label>
												<div class="form-group expiry-date">
													<select class="form-control">
														<option value="0">Month</option>
														<option value="0">01</option>
														<option value="0">02</option>
														<option value="0">03</option>
													</select>
													<select class="form-control">
														<option value="0">Year</option>
														<option value="0">2020</option>
														<option value="0">2021</option>
														<option value="0">2022</option>
													</select>
												</div>
											</div>
											<div class="col-lg-3">
												<div class="form-group">
													<label>CVV</label>
													<input type="text" class="form-control">
												</div>
											</div>
											<div class="col-lg-12 final-pay">
												<div class="price-box">
													<div class="fgt-price"><i class="fas fa-rupee-sign"></i>9,830</div>	
													<div class="btn-book"><a>Pay Now</a></div>
												</div>
												<p>By clicking on Pay Now, you are agreeing to our <a>Terms & Conditions</a>and<a>Privacy policy</a>and<a>User Agreement</a></p>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="tab-pane" id="netbanking">
								<div class="pay-creditcard">
									<h3>Pay With New Banking</h3>
									<form>
										<div class="row">
											<div class="col-lg-8">
												<label>Select Your Banks</label>
												<div class="form-group">
													<select class="form-control">
														<option value="0" selected="selected">Select Your Bank</option>
														<option value="1">01</option>
														<option value="2">02</option>
														<option value="3">03</option>
													</select>
												</div>
											</div>
											<div class="col-lg-12 final-pay">
												<div class="price-box">
													<div class="fgt-price"><i class="fas fa-rupee-sign"></i>9,830</div>	
													<div class="btn-book"><a>Pay Now</a></div>
												</div>
												<p>By clicking on Pay Now, you are agreeing to our <a>Terms & Conditions</a>and<a>Privacy policy</a>and<a>User Agreement</a></p>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>	 
				</div>
			</div>
			<div class="col-lg-3 col-md-5 order-md-2">
				<div class="fare-right-box payment-sec">
					<h2>Payment Details</h2>
					<div class="box-content fare-details payment-details">
						<ul>
							<li>Total Price<span><i class="small-inr"></i>3,509</span></li>
							<li>Convenience Fee<span><i class="small-inr"></i>350</span></li>
							<li class="total-pay">You Pay :<span><i class="fas fa-rupee-sign"></i>3,859 </span></li>
							<li>Earn eCash <span><i class="small-inr"></i>250</span></li>
						</ul>
					</div>
					<div>
					<h2>Booking Summary</h2>
					<div class="box-content booking-summary">
						<div class="hotel-summary">
							<img src="../assets/images/hotel-01.jpg" class="img-fluid" alt="">
							<h2>Caravela Beach Resort</h2>
							<p>Varca Beach, Varca Village, Salcete - Goa, Goa, India</p>
							<ul class="bookindDate">
								<li>
									<span>Check-In:</span>13th May'20, Wednesday | From 1 PM 
								</li>
								<li>
									<span>Check-Out:</span>15th May'20, Friday | Before 11 AM
								</li>
							</ul>
						</div>
					</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</div>		
</section>	

<script>
	var slider = document.getElementById("myRange");
	var output = document.getElementById("demo");
	output.innerHTML = slider.value;

	slider.oninput = function() {
	  output.innerHTML = this.value;
}
</script>