.seatMap .icon-avbl{background-position: -33px -489px;
    width: 35px;
    height: 35px;}
    .seatMap .icon-bked{background-position: -33px -489px;
        width: 35px;
        height: 35px;}
        .seatMap .icon-female{background-position: -33px -489px;
            width: 35px;
            height: 35px;}
            .seatMap .icon-sltd{background-position: -33px -489px;
                width: 35px;
                height: 35px;}