.seatMap .icon-avbl{background-position: -33px -489px;
    width: 35px;
    height: 35px;}
    .seatMap .icon-bked{background-position: -33px -489px;
        width: 35px;
        height: 35px;}
        .seatMap .icon-female{background-position: -33px -489px;
            width: 35px;
            height: 35px;}
            .seatMap .icon-sltd{background-position: -33px -489px;
                width: 35px;
                height: 35px;}
/* .bookbyfem{font-size: 25px;
    color: #e984a4;}
.selected{font-size: 25px;
    color: #67e075;}
.booked{font-size: 25px;
    color: #76a6e5;}
.available{font-size: 25px;
    color: #d8d8d8;} */

             