<section>
	<div class="modify-search hotel-modify-search">
		<div class="container">
			<div class="m-modify">Modify Search<span><i class="fas fa-chevron-down"></i></span></div>
			<div class="modify-box">
				<form>
					<div class="row">
						<div class="col-lg-10 col-md-12">
							<div class="row">
								<div class="col-lg-3 col-md-6">
									<div class="form-group">
										<div class="m-from">
											<label>CIty, Area of hotel</label>
											<input type="text" class="form-control" placeholder="Warsaw,Poland">
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="form-group">
										<div class="m-date">
											<label>Check in</label>
											<input type="text" class="form-control date-icon" placeholder="19 Apr 2019">
										</div>
									</div>
								</div> 
								<div class="col-lg-3 col-md-6">
									<div class="form-group">
										<div class="m-date">
											<label>Check out</label>
											<input type="text" class="form-control date-icon" placeholder="19 Apr 2019">
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 roomGuestList">
									<div class="form-group">
										<div class="m-from">
											<label>Rooms & Guest</label>
											<input type="text" class="form-control addRoom" placeholder="1Room, 2Guest">
										</div>
										<div class="roomGuestBox" style="display:none;">
											<div class="addRoomRow">
												<h3>Room 1</h3>
												<div class="addRooomDetails">
													<span>ADULTS (12y +) </span>
													<ul>
														<li class="selected">1</li>
														<li>2</li>
														<li>3</li>
														<li>4</li>
														<li>5</li>
														<li>6</li>
														<li>7</li>
														<li>8</li>
														<li>9</li>
														<li>10</li>
													</ul>
												</div>
												<div class="addRooomDetails">
													<span>CHILDREN (1y - 12y )</span>
													<ul>
														<li class="selected">1</li>
														<li>2</li>
														<li>3</li>
														<li>4</li>
													</ul>
												</div>
											</div>
											<div class="roomsGuestsBottom">
												<button type="button" class="btn-add"><i class="fas fa-plus"></i>Add Another room</button>
												<button type="button" class="btn-apply addApply">Apply</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2">
							<div class="form-group">
 								<button class="btn-search" type="button">Search Again</button>
							</div>
 						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
	
<section class="main-Wrapper">
	<div class="container">
		<div class="pagination" style="display:none">
			<ul>
				<li><a>Home</a></li>
				<li><a>Hotels In Goa</a></li>
				<li>Hotel Atmaram</li>
			</ul>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="room-sort-details">
					<div class="row">
						<div class="col-xl-5 col-lg-6 col-md-6 col-sm-6">
							<div class="slider-wrap">
								<div id="demo" class="carousel slide" data-ride="carousel">
								  <div class="carousel-inner">
									<div class="carousel-item active">
									  <img src="../assets/images/hotel-01.jpg" class="img-fluid" alt="" />
									</div>
									<div class="carousel-item">
									  <img src="../assets/images/hotel-02.jpg" class="img-fluid" alt="" />
									</div>
									<div class="carousel-item">
									  <img src="../assets/images/hotel-03.jpg" class="img-fluid" alt="" />
									</div>
								  </div>
								  <a class="carousel-control-prev" href="#demo" data-slide="prev">
									<span class="carousel-control-prev-icon"></span>
								  </a>
								  <a class="carousel-control-next" href="#demo" data-slide="next">
									<span class="carousel-control-next-icon"></span>
								  </a>
								</div>
							</div>
						</div>
						<div class="col-xl-7 col-lg-6 col-md-6 col-sm-6">
							<div class="row">
								<div class="col-lg-6">
									<div class="rooms-warp">
										<span data-toggle="modal" data-target="#signin"><img src="../assets/images/hotel-01.jpg" class="img-fluid" alt="" /></span>
										<div class="location">
											<a href="#location"><img src="../assets/images/mapBg4.png" alt="" /></a>	
										</div>
									</div>
								</div>
								<div class="col-xl-6 col-lg-12 col-md-12">
									<div class="room-content">
										<div class="details-box">
											<div class="sort-details">
												<h2>Double Non AC</h2>
												<span>Per night</span>
												<ul>
													<li><span><i class="fas fa-check"></i></span>Free Cancellation</li>
													<li><span><i class="fas fa-check"></i></span>Room Only</li>
												</ul>
											</div>
											<div class="price-dts">
												<del>INR 749</del>
												<h3>INR 705</h3>
												<span>Deal Applied Saving INR 45</span>
											</div>
										</div>
										<div class="booking-box">
											<ul>
												<li><a>Other rooms</a></li>
												<li><a class="book-now">Book this now</a></li>
											</ul>
										</div>
									</div>
									<div class="review-box">
										<h2>What Guests Said<span>3.5</span></h2>
										<p>Based on 276 Reviews</p>
										<ul>
											<li>Courteous Staf...</li>
											<li>Good Room</li>
											<li>Good Location</li>
										</ul>
										<a class="all-reviews">All Reviews</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="col-lg-12">
				<div class="hotel-details-box page-section">
					<h2>Hotel Atmaram</h2>
					<span class="location1">Koli Ghati, Khorlim, Mapusa- Goa </span>
					<ul>
						<li>Couple Friendly</li>
					</ul>
					<p>Nestled in the city of becahes, Goa, Hotel Atmaram is located at a distance of 37.3 km from the Goa International Airport and 36.4 km from the Dabolim Railway Station.</p>
					<div class="read-more"><a>Read more</a></div>
				</div>
			</div>
		</div>
	</div>	
</section>
	
<section class="others-details">
	<div class="navSticky-box" id="navSticky">
		<div class="container">
			<ul class="navSticky">
				<li><a href="#roomtype" class="active">Rooms</a></li>    
				<li><a href="#facilities">Facilities</a></li>
				<li><a href="#location">Location</a></li>
				<li><a href="#policies">Policies</a></li>
				<li><a href="#userReviews">Ratings and Reviews</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		
		<div class="row">
	 
			<div class="col-lg-12" id="roomtype">
				<div class="page-section page-section">
					<div class="roomheader">
						<ul>
							<li>Room Type</li>
							<li>Options</li>
							<li>Included in this Price</li>
							<li>Price</li>
						</ul>
					</div>
					<div class="roomWrap">
						<div class="roomleft">
							<h2>Double Non AC</h2>
							<img src="../assets/images/hotel-02.jpg" class="img-fluid" alt="" />
							<ul>
								<li>Room Size: 80.73 sq.ft.</li>
								<li>Bed Type: Single Bed</li>
								<li>Heater</li>
								<li>Free Wi-Fi</li>
								<li>Charging Points</li>
								<li>Mineral Water - additional charge</li>
							</ul>
							<a class="more-rooms">More about this room</a>
						</div>    
						<div class="roomright">
							<div class="makeFlex optionwiths">
								<h3>Option 1<span>RECOMMENDED </span></h3>
								<ul>
									<li><span><i class="fas fa-check"></i></span><strong>Room Only</strong></li>
									<li><span><i class="fas fa-check"></i></span><strong>Free Cancellation</strong> till 10-May-2020 10:00 AM IST</li>
								</ul>
							</div>
							<div class="makeFlex includewidth">
								<ul>
									<li><span><i class="fas fa-check"></i></span>Accommodation only</li>
									<li><span><i class="fas fa-check"></i></span>Accommodation</li>
								</ul>
							</div>
							<div class="makeFlex pricewidth">
								<del>INR 749</del>
								<h3>INR 705<span>Per night</span></h3>
								<p>To Get this @ INR 698 or less <a>Login Now</a></p>
								<a class="select-room">select room</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12" id="facilities">
				<div class="facilities-details page-section">
					<h2>Facilities at Hotel Atmaram</h2>
					<p>Facilities here have been <strong>rated 3.4 by 391 guests</strong></p>
					<ul class="selected-item">
						<li><span></span>Free Wi-Fi</li>
						<li><span></span>Power Backup</li>
						<li><span></span>Housekeeping</li>
						<li><span></span>Laundry Service</li>
					</ul>
					<div class="facilityList">
						<div class="facilityGroupCol">
							<span class="facility-heading">Basic Facilities</span>
							<ul>
								<li><span><i class="fas fa-check"></i></span>Free Wi-Fi</li>
								<li><span><i class="fas fa-check"></i></span>Power Backup</li>
								<li><span><i class="fas fa-check"></i></span>Housekeeping</li>
								<li><span><i class="fas fa-check"></i></span>Laundry Service (Paid)</li>
								<li><span><i class="fas fa-check"></i></span>Attached Bathroom</li>
							</ul>
						</div>
						<div class="facilityGroupCol">
							<span class="facility-heading">Safety and Security</span>
							<ul>
								<li><span><i class="fas fa-check"></i></span>CCTV</li>
								<li><span><i class="fas fa-check"></i></span>Fire Extinguishers</li>
							</ul>
						</div>
						<div class="facilityGroupCol">
							<span class="facility-heading">Media and technology</span>
							<ul>
								<li><span><i class="fas fa-check"></i></span>Electrical Chargers</li>
							</ul>
						</div>
						<div class="facilityGroupCol">
							<span class="facility-heading">Common Area</span>
							<ul>
								<li><span><i class="fas fa-check"></i></span>Reception</li>
								<li><span><i class="fas fa-check"></i></span>Seating Area</li>
							</ul>
						</div>
					</div>
				</div>	
			</div>
			<div class="col-lg-12" id="location">
				<div class="location-list page-section">
					<h2>Location</h2>
					<div class="location-map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d112081.87334807178!2d77.2308992!3d28.613017599999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1586982399445!5m2!1sen!2sin" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
					</div>
				</div>	
			</div>
			<div class="col-lg-12" id="policies">
				<div class="policies-details page-section">
					<h2>Resort Rules and Policies</h2>
					<p>Check in: 1 PM | Check-out: 11 AM</p>
					<ul>
						<li>Society Rules<span>Closure of our Fitness Centre: The safety of our guests and employees are of paramount importance to us. Our gymnasium and fitness centre will be closed effective Sunday, March 15, 2020 till further notice, as an enhanced precautionary measure, to try to prevent the spread of the Novel Coronavirus (COVID-19). Thank you for choosing our Caravela Beach Resort Goa and we look forward to your continued support in these difficult times.</span></li>
						<li>Payment Related<span>yes</span></li>
						<li>Pet(s) Related<span>Pets are not allowed.</span></li>
					</ul>
				</div>	
			</div>
			<div class="col-lg-12" id="userReviews">
				<div class="review-details page-section">
					<h2>Verified Ratings & Reviews for Caravela Beach Resort</h2>
					<p>Take a look at verified ratings & reviews posted by guests </p>
					<div class="reviewHeader">
						<div class="headerleft">
							<div class="userRatingBox">
								<span>4.5</span>
								<div class="rating-text">2123 RATINGS 1648 REVIEWS</div>
							</div>
							<div class="sortByCont">
								<ul>
									<li>4.5<span>Child friendliness</span></li>
									<li>4.3<span>Location</span></li>
									<li>4.2<span>Hospitality</span></li>
								</ul>
							</div>
						</div>
						<div class="headerright">
							<ul>
								<li><a class="selected">All Reviews</a></li>
								<li><a>Beach</a></li>
								<li><a>Distance from Beach</a></li>
								<li><a>Location</a></li>
								<li><a>Nightlife</a></li>
								<li><a>Connectivity</a></li>
								<li><a>Market</a></li>
								<li><a>Eating Options</a></li>
								<li><a>Casino</a></li>
								<li><a>Staff Courtesy</a></li>
							</ul>    
						</div>
					</div>
					<div class="userReviewList">
						<div class="reviewBox">
							<h3>Average hotel<span class="ratingPoint">3.5</span></h3>
							<span class="reviewDate">Rishi Jain, Mar 23, 2020</span>
							<p>Not worth of the money. Food quality and varieties were okay.</p>
						</div>
						<div class="replyBox">
							<div class="replyIconCont"><i class="fas fa-reply"></i></div>
							<div class="replyBoxRight">
								<h4>Caravela Beach Resort<span>has replied on Mar 21, 2020</span></h4>
								<p>Dear Shehnaz, thank you for making us a part of your staycation We are happy to know that you enjoyed services extended by our team, your feedback has been received with a great delight. Thank you for your kind words. We look forward to welcoming you again. Regards Prasad Kanoth Hotel manager</p>
							</div>
						</div>
						<div class="reviewBox">
							<h3>Average hotel<span class="ratingPoint">3.5</span></h3>
							<span class="reviewDate">Rishi Jain, Mar 23, 2020</span>
							<p>Not worth of the money. Food quality and varieties were okay.</p>
						</div>
						<div class="reviewBox">
							<h3>Average hotel<span class="ratingPoint">3.5</span></h3>
							<span class="reviewDate">Rishi Jain, Mar 23, 2020</span>
							<p>Not worth of the money. Food quality and varieties were okay.</p>
						</div>
					</div>
				</div>	
			</div>
 		</div>
	 
	</div>	
</section>

<script>
	var slider = document.getElementById("myRange");
	var output = document.getElementById("demo");
	output.innerHTML = slider.value;

	slider.oninput = function() {
	  output.innerHTML = this.value;
}
</script>